<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="app.css">

<h1>Movie Search App</h1>

<form action="/results" method="GET">
    <input type="text" placeholder="Movie Name" name="movieName">
    <button type="submit">Submit</button>
</form>