body {
  text-align: center;
  font-family: sans-serif, serif;
}

#photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#photos li {
  list-style: none;
  width: 20%;
  background: #ccc;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccccc1;
}

#photos img {
  padding: 10px 0;
  width: 90%;
}