<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body>
<div class="container">
    <% include partials/header %>

    <h1><%= campground.name %></h1>

    <img src="<%= campground.image %>">
    <div class="caption">
        <h4><%= campground.description %> </h4>
    </div>

    <% include partials/footer %>
</div>
</body>
</html>